
<%- include("partials/header"); -%>

<section id="title">

  <div class="container-fluid">
    <div class="contentBx">
      <h4 class="animate__animated animate__rubberBand">GOOD FOOD😋!!</h4>
      <p>Explore our huge collection of delicious recipes ideas including: easy desserts, quick bakes, family-friendly meals and gluten free recipes.</p>
      <a class="nav-link footer-link" href="/recipes">Explore</a>
    </div>
  </div>

</section>







<%- include("partials/footer"); -%>
